*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #333;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.logo{
color: white;
font-size: 1.5rem;
font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    margin-left: 2rem;
}
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    
}
.nav-links li a:hover{
    color:#00ff9d;

}
@media( max-width:768px){
    .navbar{
        flex-direction: coloumn;
        align-items: flex-start;
    }
}
